In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import tensorflow as tf

In [4]:
### importing preprocessed dataset
df = pd.read_csv('df_encoded.csv')

In [5]:
df.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,0,1,0,0,0,0,0

# RESAMPLING USING SMOT

In [16]:
X = df.drop('not.fully.paid', axis=1)     ### target column = not.fully.paid
y = df['not.fully.paid']

In [17]:
X.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,1,0,0,0,0,0

In [18]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: not.fully.paid, dtype: int64

In [19]:
y.value_counts()   ### oversample of class 0

0    5635
1     924
Name: not.fully.paid, dtype: int64

In [14]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\manab paul\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\manab paul\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\manab paul\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\manab paul\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.1 imblearn-0.0 joblib-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [21]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(sampling_strategy='minority')
X_sm, y_sm = smote.fit_resample(X, y)

y_sm.value_counts()

0    5635
1    5635
Name: not.fully.paid, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.2, random_state=15, stratify=y_sm)

In [23]:
X_train.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
7563,1,0.126046,376.455117,10.963540,18.689729,717,3570.815295,14865,83.786488,0,0,0,0,0,0,0,0,0,0
2333,1,0.118900,278.580000,11.982929,10.780000,702,6990.000000,62083,43.800000,0,0,0,1,0,0,0,0,0,0
7994,1,0.129857,747.162293,10.839282,11.494818,703,1827.044762,6146,13.181906,1,0,0,0,0,0,0,0,0,0
6668,0,0.122460,201.892346,9.864219,6.073625,686,3578.185465,3300,33.027227,1,0,0,1,0,0,0,0,0,0
4026,1,0.118300,119.290000,10.463103,13.920000,712,1770.000000,800,15.100000,0,0,0,1,0,0,0,0,0,0

In [24]:
X_test.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
7882,0,0.099943,120.538780,10.477938,0.387803,756,3630.000000,224,5.517893,2,0,0,1,0,0,0,0,0,0
1244,1,0.096300,320.950000,10.239817,22.970000,742,4470.041667,11488,22.300000,0,0,0,0,0,1,0,0,0,0
1453,1,0.080000,125.350000,11.407565,8.970000,757,4470.041667,51498,31.000000,0,0,0,0,0,1,0,0,0,0
8619,0,0.158718,360.745445,10.320440,16.376535,646,1002.815354,6295,66.218661,1,0,0,0,0,0,0,0,0,0
7996,1,0.120683,331.919365,11.315110,12.367208,713,6745.438563,23617,51.811333,0,0,0,0,0,0,0,0,0,0

In [25]:
y_train.value_counts()

1    4508
0    4508
Name: not.fully.paid, dtype: int64

In [26]:
y_test.value_counts()

1    1127
0    1127
Name: not.fully.paid, dtype: int64

In [27]:
### saving csv files to local machine 
X_train.to_csv('X_train.csv', index=False)
X_test.to_csv('X_test.csv', index=False)
y_train.to_csv('y_train.csv', index=False)
y_test.to_csv('y_test.csv', index=False)