In [1]:
#Importing all the library
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
import pickle
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import confusion_matrix , classification_report

In [4]:
df = pd.read_csv('df_encoded.csv')
df.head()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid,purpose_all_other,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_major_purchase,purpose_small_business
0,1,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0,0,0,1,0,0,0,0
1,1,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0,0,1,0,0,0,0,0
2,1,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0,0,0,1,0,0,0,0
3,1,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0,0,0,1,0,0,0,0
4,1,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0,0,1,0,0,0,0,0

In [6]:
X = df.drop('not.fully.paid',axis='columns')
y = df['not.fully.paid']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15, stratify=y)

In [8]:
y_train.value_counts()

0    4508
1     739
Name: not.fully.paid, dtype: int64

In [9]:
4508 / 739

6.100135317997293

In [20]:
df3 = X_train.copy()
df3['not.fully.paid'] = y_train

In [21]:
df3.isnull().sum()

credit.policy                 0
int.rate                      0
installment                   0
log.annual.inc                0
dti                           0
fico                          0
days.with.cr.line             0
revol.bal                     0
revol.util                    0
inq.last.6mths                0
delinq.2yrs                   0
pub.rec                       0
purpose_all_other             0
purpose_credit_card           0
purpose_debt_consolidation    0
purpose_educational           0
purpose_home_improvement      0
purpose_major_purchase        0
purpose_small_business        0
not.fully.paid                0
dtype: int64

In [27]:
def get_train_batch(df_majority, df_minority, start, end):
    df_train = pd.concat([df_majority[start:end], df_minority], axis=0)

    X_train = df_train.drop('not.fully.paid', axis='columns')
    y_train = df_train['not.fully.paid']
    return X_train, y_train

In [28]:
df3_class0 = df3[df3['not.fully.paid']==0]
df3_class1 = df3[df3['not.fully.paid']==1]

In [29]:
df3_class0.isnull().sum()

credit.policy                 0
int.rate                      0
installment                   0
log.annual.inc                0
dti                           0
fico                          0
days.with.cr.line             0
revol.bal                     0
revol.util                    0
inq.last.6mths                0
delinq.2yrs                   0
pub.rec                       0
purpose_all_other             0
purpose_credit_card           0
purpose_debt_consolidation    0
purpose_educational           0
purpose_home_improvement      0
purpose_major_purchase        0
purpose_small_business        0
not.fully.paid                0
dtype: int64

In [30]:
df3['not.fully.paid'].value_counts()

0    4508
1     739
Name: not.fully.paid, dtype: int64

In [31]:
4508 / 7

644.0

In [32]:
644 * 7

4508

In [33]:
X_train1, y_train1 = get_train_batch(df2_0, df2_1, 0, 643)
X_train2, y_train2 = get_train_batch(df2_0, df2_1, 644, 1286)
X_train3, y_train3 = get_train_batch(df2_0, df2_1, 1287, 1931)
X_train4, y_train4 = get_train_batch(df2_0, df2_1, 1932, 2576)
X_train5, y_train5 = get_train_batch(df2_0, df2_1, 2577, 3220)
X_train6, y_train6 = get_train_batch(df2_0, df2_1, 3221, 3864)
X_train7, y_train7 = get_train_batch(df2_0, df2_1, 3865, 4508)

In [34]:
X_train1.to_csv('X_train1.csv', index = False)
y_train1.to_csv('y_train1.csv', index = False)
X_train2.to_csv('X_train2.csv', index = False)
y_train2.to_csv('y_train2.csv', index = False)
X_train3.to_csv('X_train3.csv', index = False)
y_train3.to_csv('y_train3.csv', index = False)
X_train4.to_csv('X_train4.csv', index = False)
y_train4.to_csv('y_train4.csv', index = False)
X_train5.to_csv('X_train5.csv', index = False)
y_train5.to_csv('y_train5.csv', index = False)
X_train6.to_csv('X_train6.csv', index = False)
y_train6.to_csv('y_train6.csv', index = False)
X_train7.to_csv('X_train7.csv', index = False)
y_train7.to_csv('y_train7.csv', index = False)

In [35]:
X_test.to_csv('X_test.csv', index = False)
y_test.to_csv('y_test.csv', index = False)